h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

.header-container, .trendingPreview-header {
    padding: 0 84px;
}

.header-container {
    padding: 40px 44px 0;
}

.header-title {
    margin-bottom: 20px;
}

.header-title .select-language {
    align-self: center;
}

.header-title img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

.header-imagen-detailMovie img {
    width: calc(100% - 180px);
}

.category-container {
    width: 22%;
}

.genericList-container .movie-container {
    width: 24%;
}


@media (min-width: 1024px) {
    .genericList-container .movie-container {
        width: 16%;
    }
    .header-imagen-detailMovie img {
        width: calc(100% - 180px);
    }
}